body{
  background-color: lightgreen;
}
#pargrh1{
  background-color: lightblue;
  width: 640px;
  height:240px;
  padding: 40px;
}
#pargrh2{
  background-color: antiquewhite;
  width: 640px;
  height:240px;
  padding: 40px;
}
.footer1{
  background-color: aliceblue;
  padding: 20px;

}
.div1{
background-color: peru;
padding: 20px;
}
